body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    /* Centralizar na horizontal */
    align-items: flex-start;
    /* Alinhar no topo verticalmente */
}

.content {
    display: flex;
    flex-direction: column;
    width: 90%;
    /* Tamanho máximo */
    max-width: 1000px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    height: 150px;
}

.topo img{
    height: 150px;
}

.topoL{
    padding: 20px;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.menu {
    width: 15%;
    min-width: 150px;
    height: auto;
}

.menu div{
    min-width: 130px;
}

.content-right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 70%;
}

.links {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.links div {
    flex-wrap: wrap;
    flex-basis: 6%;
    text-align: center;
    margin: 1px;
}

.palcoAnimacao {
    width: 95%;
    height: 620px;
    text-align: center;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.palcoAnimacao div{
    width: 48%;
    height: 300px;
    
}

.Div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Div img{
    max-width:150px;
    max-height:150px;
    min-width: 150px;
    min-height: 150px;
}

.Letra div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Imagem img{
    max-width:250px;
    max-height:250px;
    width: 100%;
    height: auto;
}

.MaoL img{
    max-width:250px;
    max-height:300px;
    width: 100%;
    height: auto;
}

.MaoP img{
    max-width:250px;
    max-height:300px;
    width: 100%;
    height: auto;
}

.Som{
    display: none;
}

.footer {
    text-align: center;
}

/* Media Query para telas menores que 820px */
@media (max-width: 820px) {
    .main {
        flex-direction: column;
    }

    .content-right {
        width: auto;
    }
    
    .menu {
        text-align: center;
        width: 90%;
        margin: 5px;
        align-self: center;
        justify-self: center;
    }

    .links {
        display: flex;
    }

    .links div {
        flex: 1;
    }

    .content-right,
    .content-bottom {
        padding: 20px;
    }
}

/* Media Query para telas menores que 650px */
@media (max-width: 650px) {
    .palcoAnimacao {
        flex-direction: column;
        height: auto;
        align-content: center;
        justify-content: center;
        
    }
    .palcoAnimacao div{
        width: 95%;
    }
}