body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(170deg, rgb(252, 6, 129), rgb(252, 195, 223), rgb(252, 6, 129));
}

a {
    text-decoration: none;
    color: inherit;
}

.content {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #e6f7ff; /* Alterei para um tom de azul claro */
    margin-top: 15px;
}

.header {
    background-color: #ff6666; /* Alterei para um tom de vermelho */
    color: white;
    text-align: center;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.menu {
    background-color: #ff6666; /* Mantive a cor vermelha */
    color: white;
    padding: 10px;
    border-radius: 20px;
    margin: 5px;
    padding-right: 15px;
}

.content-right {
    padding: 5px;
    box-sizing: border-box;
}

.links {
    background-color: #fff2e6; /* Alterei para um tom de laranja claro */
    color: #ff8000; /* Alterei para uma cor laranja mais escura */
    border-radius: 15px;
    border: 1px #ff8000 solid; /* Correspondente à cor laranja */
}

.menu div {
    border-radius: 20px;
    border: 4px white solid;
    padding: 8px;
    margin-top: 5px;
    font-weight: bolder;
}

.btn {
    border-radius: 30px;
    font-weight: bolder;
    color: white;
    padding: 4px;
}

.palcoAnimacao {
    margin-top: 10px;
    background-color: #fff2e6; /* Correspondente à cor laranja clara */
    border: 2px #ff8000 solid; /* Correspondente à cor laranja */
    border-radius: 20px;
    padding: 5px;
}

.Div {
    margin: 4px;
    border: 1px #ff8000 solid; /* Correspondente à cor laranja */
    border-radius: 20px;
}

.footer {
    background-color: #ff6666; /* Mantive a cor vermelha */
    color: white;
    padding: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* Cores personalizadas */
.verde {
    background-color: #66ff66; /* Alterei para um tom de verde */
}

.verdinho {
    background-color: #99ff99; /* Alterei para um tom de verde mais claro */
}

.vermelho {
    background-color: #ff3333; /* Alterei para um tom de vermelho mais escuro */
}

.azul {
    background-color: #3399ff; /* Alterei para um tom de azul mais escuro */
}

.violeta {
    background-color: #aa80ff; /* Alterei para um tom de violeta mais claro */
}

.rosa {
    background-color: #ff99cc; /* Alterei para um tom de rosa mais claro */
}

.laranja {
    background-color: #ffaa80; /* Alterei para um tom de laranja mais claro */
}

/* Media Query para telas menores que 820px */
@media (max-width: 820px) {
    .menu {
        font-size: 35px;
        border-radius: 15px;
    }

    .links div {
        padding: 3%;
        font-weight: bold;
        font-size: 35px;
    }
}
